<!-- <p>form works!</p> -->
<!-- <form action="">

    <label for="name"></label>
    <input type="text" id="name" [formControl]="nameControl">

    <label for="age"></label>
    <input type="text" id="age" [formControl]="ageControl">

    <button type="submit" onclick="ValidarForm" (click)="validarForm()">enviar</button>

</form>
-->
<!-- <form action="">

    <label for="name2"></label>
    <input type="text" id="name2" [formControl]="nameControl">

    <label for="age2"></label>
    <input type="text" id="age2" [formControl]="ageControl">

    <button type="submit" onclick="ValidarForm" (click)="validarForm()"></button>

</form> -->

<!--

    <form [formGroup]="form" (ngSubmit)="validarForm()">
        <label for="name2">NOMBRE2</label>
        <input type="text" formControlName="name">

        <label for="age2">EDAD2</label>
        <input type="text" formControlName="age">

        <button type="submit">enviar</button>
    </form>






<form [formGroup]="form" (ngSubmit)="validarForm2()">
    <label for="name3">NOMBRE2</label>
    <input type="text" formControlName="name3">

    <label for="age3">EDAD2</label>
    <input type="text" formControlName="age3">

    <button type="submit">enviar</button>
</form>

-->
<div class="container">
  <h2>formulario reactivo</h2>

  <form [formGroup]="form" (ngSubmit)="validarForm2()">
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" formControlName="name"pInputText>
    </div>
    <div>
      <label for="age">Edad:</label>
      <input type="number" id="age" formControlName="age"pInputText>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password"pInputText>
    </div>
    <div>
      <label for="city">Ciudad:</label>
      <input type="text" id="city" formControlName="city"pInputText>
    </div>
    <div>
      <label for="codigoPostal">Código Postal:</label>
      <input type="text"  formControlName="codigoPostal"pInputText>
    </div>
    <button type="submit"pButton pRipple>Enviar</button>
  </form>


</div>




