<!-- <p>form works!</p> -->
<form action="">

    <label for="name"></label>
    <input type="text" id="name" [formControl]="nameControl">
    
    <label for="age"></label>
    <input type="text" id="age" [formControl]="ageControl">
    
    <button type="submit" onclick="ValidarForm" (click)="validarForm()">enviar</button>
    
</form>

<!-- <form action="">

    <label for="name2"></label>
    <input type="text" id="name2" [formControl]="nameControl">
    
    <label for="age2"></label>
    <input type="text" id="age2" [formControl]="ageControl">
    
    <button type="submit" onclick="ValidarForm" (click)="validarForm()"></button>
    
</form> -->