.container{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header{
  /* background-color: blue; */
  color: rgb(136, 179, 216);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  /* background-color: brown; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-field{
  /* background-color: aqua; */
  margin: 20px 20px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
.footer{
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
